persistent connections

At the moment we don't support [HTTP persistent connections](https://en.wikipedia.org/wiki/HTTP_persistent_connection). Would be great to implement this feature.

@yegor256 added "bug" tag to this issue

@yegor256 milestone set to `1.0` (correct me if I am wrong)

@yegor256 thanks for reporting! I topped your account for 15 mins, transaction 000-cfcfbe88

@adko-pl please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have... The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

@davvd please find another developer

> @davvd please find another developer

@adko-pl -30 points to your rating :(

> @davvd please find another developer

@adko-pl got it, someone else will be assigned soon

@lautarobock can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here; Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

PR #337 is ready for review

> @davvd  PR #337 is ready for review

@lautarobock I will take a look, thanks

@davvd any news?

@lautarobock you're working with this issue for 15 days already

-30 to your rating, your total score is [+90](http://www.netbout.com/b/35344?open=rating)

@lautarobock the task is overdue, and I have to re-assign it to someone else. Please, stop working with it immediately. In general, we're against overdue tasks, check [this page](http://www.xdsd.org/2014/04/13/no-obligations-principle.html)

-60 added to your rating, current score is: [-90](http://www.netbout.com/b/35344?open=rating)

@erimerturk the task is yours plz proceed

@davvd @erimerturk @yegor256 @pinaf I made a commit 3 days ago in a Pull Request Nro 306, nobody take the review, but the solution is still there, and is mine :)

@davvd pls assign @lautarobock back to this ticket. @lautarobock pls keep this in mind: http://www.teamed.io/policy.html#7

@yegor256 thanks!

@davvd assign this ticket to @lautarobock 

@erimerturk you're working with this issue for 15 days already... -30 added to your rating, current score is: [+120](http://www.netbout.com/b/35280?open=rating)

@davvd @yegor256 already ask you to assign this ticket to @lautarobock, i didn't work on this ticket, and also i am on away mode, you can check it from netbout, @davvd please rollback my rating, thank you

@davvd assign this to @lautarobock

@yegor256 you've fired me :D

@davvd assign someone else pls

> @davvd @yegor256 already ask you to assign this ticket to @lautarobock, i didn't work on this ticket, and also i am on away mode, you can check it from netbout, @davvd please rollback my rating, thank you

@erimerturk OK, got it, will re-assign

> @davvd assign someone else pls

@yegor256 I deducted 30 points from your rating

> @davvd assign someone else pls

@yegor256 right, I'll try to find someone else for this task

@davvd could you rollback negative rating please, thank you

@davvd @yegor256 i lost 60 point because of this issue, why ? could you please explain it to me ? could you please fix it ?

@mstzn36 can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here; Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

@davvd PR #374  is ready for review.

> @davvd PR #374  is ready for review.

@mstzn36 will take a look, thanks

@davvd I couldn't solve this issue. Please assign someone else

> @davvd I couldn't solve this issue. Please assign someone else

@mstzn36 -30 points to your rating :(

> @davvd I couldn't solve this issue. Please assign someone else

@mstzn36 OK, I will try to assign someone else

@bilalyasar This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here. **30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend). See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

@bilalyasar the task is your hands for the last 15 days.. keep in mind that if it's not closed in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck; -30 added to your rating, current score is: [-210](http://www.netbout.com/b/35406?open=rating)

@hs3180 This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here. The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

@yegor256 Is there any document explained the architect/mechanism about takes? or I should read the source and javadoc directly?

@hs3180 everything is in README.md or in Javadoc, there is no other source of information. Keep this in mind: http://www.yegor256.com/2014/04/13/bugs-are-welcome.html

@yegor256 I've found that `HttpURLConnection` reuse persistent connection transparently. I am to create an integration test by raw socket.

@yegor256 
`RqLive` parser considers an input stream with only one end of stream symbol as a empty request.(described in #391)
it makes unit test `BkBasicTest#handlesSocket` failed when i let `BkBasic` parse input stream repeatly.
`BkBasic` will get endless empty requests in this unit test.

@yegor256 @dmzaytsev 

There are something more talked in RFC 2616.

our server may need a functionality to close persistent connection by self.
> An HTTP/1.1 server MAY assume that a HTTP/1.1 client intends to maintain a persistent connection unless a Connection header including the connection-token "close" was sent in the request. If the server chooses to close the connection immediately after sending the response, it SHOULD send a Connection header including the connection-token close.

RFC2616 metioned (Compatibility with HTTP/1.0 Persistent Connections)[http://tools.ietf.org/html/rfc2616#section-19.6.2], I think we could leave it away at this time.

@yegor256 
unit test `BkTimeableTest` creates true temporary folder, true threads and true sockets.
Is it designed to be like this? Or it is actually a intergration test.

@hs3180 don't ask questions inside tickets, instead create new tickets if something is not clear or is buggy, see http://www.yegor256.com/2015/02/16/it-is-not-a-school.html

@yegor256 I'm sorry for that. I will create a new ticket for this question.

@yegor256 

`JdkRequest` in `jcabi-http` send me such request:

    GET /path/c HTTP/1.1
    Cache-Control: no-cache
    Pragma: no-cache
    User-Agent: Java/1.7.0_79
    Host: localhost:52175
    Accept: text/html, image/gif, image/jpeg, *; q=.2, */*; q=.2
    Connection: keep-alive

with no request body. But I can't determine its length according to following rules.

in RFC2616 section 8.1.2,
 
> In order to remain persistent, all messages on the connection MUST have a self-defined message length (i.e., one not defined by closure of the connection), as described in section 4.4.

and In section 4.4

> The transfer-length of a message is the length of the message-body as it appears in the message; that is, after any transfer-codings have been applied. When a message-body is included with a message, the transfer-length of that body is determined by one of the following (in order of precedence):

> 1.Any response message which "MUST NOT" include a message-body (such as the 1xx, 204, and 304 responses and any response to a HEAD request) is always terminated by the first empty line after the header fields, regardless of the entity-header fields present in the message.

> 2.If a Transfer-Encoding header field (section 14.41) is present and has any value other than "identity", then the transfer-length is defined by use of the "chunked" transfer-coding (section 3.6), unless the message is terminated by closing the connection.

> 3.If a Content-Length header field (section 14.13) is present, its decimal value in OCTETs represents both the entity-length and the transfer-length. The Content-Length header field MUST NOT be sent if these two lengths are different (i.e., if a Transfer-Encoding header field is present). If a message is received with both a Transfer-Encoding header field and a Content-Length header field, the latter MUST be ignored.

> 4.If the message uses the media type "multipart/byteranges", and the transfer-length is not otherwise specified, then this self- delimiting media type defines the transfer-length. This media type MUST NOT be used unless the sender knows that the recipient can parse it; the presence in a request of a Range header with multiple byte- range specifiers from a 1.1 client implies that the client can parse multipart/byteranges responses. A range header might be forwarded by a 1.0 proxy that does not understand multipart/byteranges; in this case the server MUST delimit the message using methods defined in items 1,3 or 5 of this section.

> 5.By the server closing the connection. (Closing the connection cannot be used to indicate the end of a request body, since that would leave no possibility for the server to send back a response.)

@yegor256 
In practical applications, `GET` is considered as a request without body in regular.
there is a discussion about this(http://stackoverflow.com/questions/978061/http-get-with-request-body).

And I've tested it on google

    $ netcat www.google.com 80
    GET / HTTP/1.1
    Host: www.google.com
    Connection: keep-alive
    
    HTTP/1.1 200 OK
    ...

it is ok for a `GET` request with no content-length on persistent connection.

@hs3180 I don't understand... if you think that the project has bugs, please report them as new tickets. Otherwise, keep in mind that we **discourage** abstract discussions in tickets.

@yegor256 
To make a long story short, my patch considers that `GET` request with no `Content-Length` field doesn't have a **body**. This behavior doesn't define clearly in specs.

The reason why I chose to do this is listed above.

@hs3180 which "patch" are you talking about?

@hs3180 you're working with this issue for 15 days already

-30 added to your rating, at the moment it is: [+68](http://www.netbout.com/b/35610?open=rating)

@hs3180 the task is overdue, and I have to re-assign it to someone else. Please, stop working with it immediately. In general, we're against overdue tasks, check [this page](http://www.xdsd.org/2014/04/13/no-obligations-principle.html). added -60 to your rating, now it is equal to [-52](http://www.netbout.com/b/35610?open=rating)

@davvd 
I'm sorry.
There are some useful review from @dmzaytsev in #393 .

@dmzaytsev suggests creating unit tests for this feature and open a new issue about implementation.

> @davvd 
> I'm sorry.
> There are some useful review from @dmzaytsev in #393 .
> 
> @dmzaytsev suggests creating unit tests for this feature and open a new issue about implementation.
> 
> These reviews may help next person working with this issue.

@hs3180 don't be sorry, it's OK, check this article: http://www.yegor256.com/2014/04/13/no-obligations-principle.html

@prondzyn this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here. The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

@davvd I prepared PR #411

> @davvd I prepared PR #411

@prondzyn thanks

@davvd PR merged

@prondzyn you should ask me to close the ticket, since I'm the author, see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

@prondzyn thanks!

> @davvd PR merged

@prondzyn thanks

@yegor256 these 2 puzzles were created in this ticket: `306-0f8af5fd`, `306-07904f4e`/#417

@elenavolokhova please, review this issue for QA compliance, as per [par.24](http://www.teamed.io/policy.html#24)

@davvd Quality is good here.

> @davvd Quality is good here.

@elenavolokhova thanks, got it, great to see high-quality tickets here

@prondzyn added 10 mins to @elenavolokhova, for QA review, payment code is `68507740`; **30 mins** added to your account (payment number `AP-8F175246VL759703G`), many thanks for your contribution! 351 hours and 4 mins spent here.; +30 added to your rating, at the moment it is: [+105](http://www.netbout.com/b/35715?open=rating)

@yegor256 the last puzzle `519-af7d4687`/#655 solved